name: CI

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1 
      - name: npm install
        run: npm install
      - name: Run Jest
        run: npm run test
